body{
	//font-family:Arial;
    margin: 0px;
    padding:0px;
    background-color: rgb(255, 255, 255);
	width: 100%;

}
div#std{
	margin: 0px 0px 0px 0px;
    width: 100%;
    float:left;
    position:relative;
	font-size: 0px ;
	background-color: rgba(131, 229, 248, 1);
	padding: 1px 0px 3px 0px;
}
div#clmn{
	font-size: 18px ;
	margin: 0px 0px 0px 0px;
    width: 20%;
    float:left;
    position:relative;
	padding: 4px 1% 0px 19%;
	text-align: right;
}
div#clmnT{
	margin: 0px 0px 0px 0px;
    width: 59%;
    float:right;
    position:relative;
	padding: 4px 1% 0px 0%; 
	text-align: left;
}
div#header
{
	margin: 0px 0px 2px 0px;
	background-color: rgb(0, 0, 0);
    text-align: center;
    position:relative;
	padding: 1%;
	font-size: 40px ;
    width: 98%;
	float:left;
    color: white;
}
div#head{
    color: #ffffff;
    font-size: 18px ;
}

div#head a{
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}
div#message
{
    margin: 0px 0px 2px 0px;
    background-color: rgb(203, 240, 248);
    padding: 1% 0% 1% 0% ;
    text-align: center;
    position:relative;
    font-size: 18px ;
    width: 100%;
    float:left;
    color: black;
}

div#main
{
    margin: 0px 0px 2px 0px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    position:relative;
    padding: 1% 0% 1% 0% ;
    font-size: 18px ;
    width: 100%;
    float:left;
    color: black;
}
div#formm{
    /* 
	position: absolute;
	text-align: left; 
	top:350px;
    left:437px;
    list-style: none;
	background-color: rgba(131, 229, 248, 0.5);
	*/
    font-size: 18px ;
    
}
div#all
{
    font-size: 18px ;
    margin: 0px 0px 0px 0px;
    width: 80%;
    float:left;
    position:relative;
    padding: 0px 1% 0px 19%;
    text-align: left;
    color: black;
}
div#alll
{
    position:relative;
    width: 100%;
}
div#message
{
    margin: 0px 0px 2px 0px;
    background-color: rgb(203, 240, 248);
    padding: 1% 0% 1% 0% ;
    text-align: center;
    position:relative;
    font-size: 18px ;
    width: 100%;
    float:left;
    color: black;
}
div#clmn2{
    color: grey;
}

div#cclmn{
    font-size: 18px ;
    margin: 0px 0px 0px 0px;
    width: 20%;
    float:left;
    position:relative;
    padding: 0px 1% 0px 19%;
    text-align: left;
    color: black;
}
div#cclmn2{
    color: grey;
}
div#cclmnT{
    margin: 0px 0px 0px 0px;
    width: 50%;
    float:right;
    position:relative;
    padding: 0px 10% 0px 0%;
    text-align: left;
}